fastapi
uvicorn
pydantic-settings
python-dotenv
python-multipart
passlib[bcrypt]
bcrypt<5.0
python-jose[cryptography]
langchain
langchain-community
faiss-cpu
pypdf
langchain-huggingface
sentence-transformers
sqlalchemy
psycopg2-binary
slowapi
httpx
email-validator
gunicorn
cohere>=5.0.0
numpy